.nav{
    grid-area: nav;
    background-color: #E0FFFF;
    border-radius: 4%;
    align-items: centr;
    padding:.4rem 1rem;
    border:2px solid #ccc;
    border-radius:5px;
    margin-bottom:.5rem;
}

.item a{
    color: black;
    text-decoration: none;
}

.item a.activeLink{
    color: gold;
}

border:2px solid #ccc;
border-radius:5px;
padding:.4rem 1rem;
align-items: centr;